 html, body, #map {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #FFF;
        overflow: hidden;
        font-family: "Trebuchet MS";
      }
      #layerListPane{
          width:20%;
          right: 0;
          position: absolute;
          z-index: 99;
      }
      .esriLayer{
          background-color: #fff;
      }
      .esriLayerList .esriList{
          border-top:none;
      }
      .esriLayerList .esriTitle {
          background-color: #fff;
          border-bottom:none;
      }
      .esriLayerList .esriList ul{
          background-color: #fff;
      }
      #histogrampanel{
        display:none;
        bottom: 0;
        position: absolute;
        z-index: 300;
        width: 50%;
        height: 30%;
        left: 25%;
        right: 25%;
      }
      .navbar{
        border-radius:0px;
      }
      .navbar-default{
        background-image:linear-gradient(#484e55, #3a3f44 100%, #313539);
        border-color:#484e55;
        margin-bottom:0px;
        color:#c8c8c8;
      }
      .navbar-default .navbar-brand {
        color: #EFE5E5;
      }
      .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
        background-color: #272b2e;
        color:#ffffff;
      }
      .container-fluid>.navbar-collapse{
        float:right;
      }
      .btn-default{
        background-image: linear-gradient(#020202, #101112 100%, #191b1d);
        color:#ffffff;
        border-color:#020202;
      }
      .dropdown-menu{
        left:-50px;
      }
#spinner{
      position: absolute;
    z-index: 9999;
    /* top: 100px; */
    left: 40%;
    top: 30%;
    /* background-color: #151414; */
    width: 50px;
    height: 50px;
    margin-left: 50px;
    color: white;
}
h4 {
    font-size:18px;
    font-weight:bold;
}
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.glyphicon{
  font-weight: 1400!important;

}
